body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url("https://img.freepik.com/free-photo/weight-loss-composition-with-space_23-2147692072.jpg?t=st=1720628817~exp=1720632417~hmac=8a68b248a2685dbd85f3c26c9551bd03bc6edc61503b6a4bf54a13856d703e27&w=1060");
  }

  .calculator {
    
    background-color:lightblue;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 3px solid black;
   

  }

  label {
    display: block;
    margin-top: 10px;
  }

  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }

  button {
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(3, 32, 3);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
  }

  button:hover {
    background-color: #2980b9;
  }

  #result {
    margin-top: 20px;
    font-weight: bold;
  }